<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFxdWxlZWRteXFycHpuZGRoc2J2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE5NTIzNzEsImV4cCI6MjA1NzUyODM3MX0.zLmx-fBmBoWQyX49h_-7P7sBfiHSq5GJV3EzbdvR-SQ</string>
	<key>MAPBOX_PUBLIC_TOKEN</key>
	<string>pk.eyJ1IjoiYXJ0dXNoaCIsImEiOiJjbTllOWU5YnowOGR3MnJzY2dyemJ4MHh4In0.AkHp55ymjtH74d4Ziunb_g</string>
	<key>SUPABASE_URL</key>
	<string>https://qquleedmyqrpznddhsbv.supabase.co</string>
</dict>
</plist>
